---
layout: archive
title: "Talks"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% assign invited_talks = site.talks | where: "category", "invited" | sort: "date" | reverse %}
{% assign conferences = site.talks | where: "category", "conference" | sort: "date" | reverse %}
{% assign summer_schools = site.talks | where: "category", "summer_school" | sort: "date" | reverse %}

<h2>Invited Seminars</h2>
{% for post in invited_talks %}
  {% include archive-single-talk.html %}
{% endfor %}

<h2>Conferences</h2>
{% for post in conferences %}
  {% include archive-single-talk.html %}
{% endfor %}

<h2>Summer Schools</h2>
{% for post in summer_schools %}
  {% include archive-single-talk.html %}
{% endfor %}
